
<div class="passwordPage">
    <div>
        <div class="card">
            <div class="card-block">

                <!--Header-->
                <div class="text-center">
                    <h3><i class="fa fa-lock"></i> Forgot Password:</h3>
                    <hr class="mt-2 mb-2">
                </div>

                <!--Body-->
                <p>We'll write rarely, but only the best content.</p>
                <br>

                <!--Body-->


                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" id="form2" class="form-control">
                    <label for="form2">Your email</label>
                </div>


                <div class="text-center">
                    <button class="btn btn-deep-orange btn-block">Send</button>
                </div>

            </div>
            <div class="modal-footer">
                <div class="options">
                    <p>Not a member? <a href="#">Sign Up</a></p>
                    <p>For <a ui-sref="login">Log in</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Form without header-->


