
<div class="loginPage">
    <div>
        <div class="card">
            <div class="card-block">

                <!--Header-->
                <div class="text-center">
                    <h3><i class="fa fa-lock"></i> Login:</h3>
                    <hr class="mt-2 mb-2">
                </div>

                <!--Body-->
                <p>We'll write rarely, but only the best content.</p>
                <br>

                <!--Body-->


                <div class="md-form">
                    <input type="text" id="form2" class="form-control">
                    <label for="form2">Your email</label>
                </div>

                <div class="md-form">
                    <input type="password" id="form3" class="form-control">
                    <label for="form3">Your password</label>
                </div>

                <div class="text-center">
                    <button class="btn btn-deep-orange btn-block" ui-sref="user.dashboard"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
                    <button type="button" class="btn btn-fb btn-block"><i class="fa fa-facebook"></i> Facebook</button>
                    <button type="button" class="btn btn-gplus btn-block"><i class="fa fa-google-plus"></i> Google +</button>
                </div>

            </div>
            <div class="modal-footer">
                <div class="options">
                    <p>Not a member? <a ui-sref="signUp">Sign up</a></p>
                    <p>Forgot <a ui-sref="password">Password?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Form without header-->


