
<div class="signupPage">
    <div>
        <div class="card">
            <div class="card-block">

                <!--Header-->
                <div class="text-center">
                    <h3><i class="fa fa-lock"></i> Sign up:</h3>
                    <hr class="mt-2 mb-2">
                </div>

                <!--Body-->
                <p>We'll write rarely, but only the best content.</p>
                <br>

                <!--Body-->

                <form name="signupForm" ng-submit="createAccount()">

                <div class="md-form">
                    <input name="email" type="email" ng-model="userInfo.email" required id="form1" class="form-control">
                    <label for="form1">Email</label>
                </div>

                <div class="md-form">
                    <input name="password" type="password" ng-model="userInfo.password" required id="form2" class="form-control">
                    <label for="form2">Password</label>
                    <div ng-messages="signupForm.password.$error">
                        <div ng-message="require" class="text-danger">
                            <span>Password field is required</span>
                        </div>
                    </div>
                </div>

                <div class="md-form">
                    <input name="confirmPassword" type="password" ng-model="userInfo.confirmPassword" ng-blur="onBlur()" required id="form3" class="form-control">
                    <label for="form3">Password (Confirm)</label>
                    <div ng-messages="signupForm.confirmPassword.$error">
                    <div ng-message="msg" class="text-danger">
                        <span>Password doesn't match</span>
                    </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-deep-orange btn-block" ng-disabled="signupForm.$invalid || error "><i class="fa fa-sign-in" aria-hidden="true"></i> Create My Account</button>
                </div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="options">


                    <p>Already have an account? <a ui-sref="login">Log in</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Form without header-->


