body{
    font-weight: 300;
}
.marginTop{
    margin-top: 80px;
}
.sidebar{
    color: white !important;
}
.sidebar:hover{
    color: white !important;

}
.dropdown .dropdown-menu {
     padding: 0;
}
.dropdown .dropdown-menu .dropdown-item:hover {
    color: #212121 !important;
    transition: all .1s linear;
    box-shadow: none !important;
     background-color: #f7f7f9;
}

.detail .table td{
    vertical-align: middle;
}
.detail h2{
    font-variant: small-caps;
    border-bottom: 1px solid grey;
}
.detail .col-md-8{
    display: flex;
    align-items: center;
}
.detail .col-md-4{
    box-shadow: 5px 2px 6px -1px rgba(0,0,0,0.1);
}
.product-detail .slider-nav{
    margin-bottom: 10px;
    cursor: pointer;
}
.product-detail .slider-for{
   padding: 20px;
}
.product-detail .slider-nav .slick-list{
    overflow: visible;
}
.slick-prev:before, .slick-next:before{
    color:#0275d8;
}
.relatedImages{
    border-bottom: 1px solid grey;
    display: flex;
}
.relatedImages h2{
    border:none;
    flex: 90;
}
.relatedImages a{
    flex: 10;
    text-align: center;
}
.table-responsive, .slider, .product-detail{
    margin: 20px 0;
}
.slider .slick-list{
    padding: 8px;
    box-sizing: border-box;
}
.relatedItems .card{
    /*margin:10px;*/
    padding: 10px;
}
.relatedItems .card img{
  border-radius: 4px;
}
.info .tab-color li a.active {
    border-color: #0275d8;
    color:black;
}
.user ul.side-nav{
z-index: 10000;
transform: translateX(0%) !important;
background-color: whitesmoke;
}
#sidenav-overlay{
z-index: 1100 !important;
}
.user ul.side-nav li {
    border-bottom: 1px solid lightgrey;
}

.user ul.side-nav li a{
    color: #000;
}
.user nav i.fa, .user ul.side-nav i.fa{
    width: 15px;
    margin-right: 10px;
}
.user nav .dropdown-divider{
    margin: 0;
}
.user ul.side-nav li a:hover{
    background: #0275d8;
}
.user ul.side-nav li.active{
    background: #0275d8;
}
.user ul.side-nav li.active a{
      color: #fff;
  }
.user ul.side-nav li input{
    width: inherit;
    margin: 0 auto;
}
.dashboard .userdashboard{
    padding-bottom: 40px;
}
.dashboard p.card-text{
    width: 100%;
}

.user ul.side-nav li form .form-group{
    display: flex;
    padding: 0 10px;
}
.user ul.side-nav li form .form-group input{
    border-bottom-color: #ccc;
    color: black;
    padding: 8px 20px 0 0;
    width: 180px;
}

.user ul.side-nav div.logo-wrapper{
    height: inherit;
}
.user ul.side-nav div.logo-wrapper img{
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    height: 134px;
    width: 100%;
}

.user .navbar-toggler{
    margin: 0;
}

@media only screen and (max-width:991px){

    .user .nav-container{
        display: flex;
    }
    .user .navbar-brand{
        flex: 1;
    }
}

form .form-group div.icon{
    color: #000;
    margin-top: 12px;
    text-align: center;
    position: relative;
    right: 15px;
    top: 2px;
}
.addproduct .publish-cart-btn{
    margin-top: 30px;
   display: flex;
   flex-direction: column;
    align-items: center;

}
.addproduct .addTab{
    background: #3a6ea3!important;
    margin: 0;
    color: #fff;
}
.file-btn{
    padding-top: 0 !important;
    margin: 0 6px 0 0 !important;
    padding-bottom: 0 !important;
}
.file-pic{
    width: 200px;
    border: 1px solid #ccc;
    height: 200px;
    border-radius: 4px;
    margin:10px auto;
}
.view-pic{
    border: 1px solid #ccc;
    height: 130px;
    border-radius: 4px;
    margin:10px auto;
}
.file-field{
    width: 100%;
}

.profileInfo .profile-btn{
    display: flex;
    align-items: center;
}
.publishedProducts .filter-navbar{
    margin-bottom:15px;
}
.publishedProducts .filter-navbar a.nav-link, .publishedProducts .filter-navbar .navbar-brand, .publishedProducts .filter-navbar .bar-icon{
    color: #0275d8 !important;
}
.publishedProducts .filter-navbar .bar-button{
    margin-top: 6px;
    padding-right: 0;
    cursor: pointer;
}
.publishedProducts .filter-navbar input{
    color: #0275d8 !important;
    border-bottom-color: #0275d8 !important ;
}

.publishedProducts .filter-navbar input::-webkit-input-placeholder{
    color: #0275d8 !important;
}
.pendingProducts .publish-button{
    position: absolute;
    z-index: 100;
    top: -45px;
    right: -15px;
}
.addproduct .edit-button{
    position: absolute;
    z-index: 100;
    top: -45px;
    right: -15px;
    background-color: #fff;
}
.addproduct .view-cart{
    margin-bottom: 20px;
}
.addproduct .edit-button i {
    color: #999;
}